services:
  postgres:
    image: postgres:latest
    container_name: postgres
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=postgres
    ports:
      - "5432:5432"
    networks:
      - config-network
        
  server:
    build:
      context: .
      dockerfile: Dockerfile
    ports: 
       - "5150:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development

networks:
  config-network:
    driver: bridge